<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- ============================================ -->
    <!--                Navigation                    -->
    <!-- ============================================ -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: <%= navigationBarColor %>;">
    <div class="container">
        <a class="navbar-brand" href="<%= home %>">
            <%= roleName %> CloudKitchen Pro
        </a>

        <!-- Recipe Chef only -->
        <div class="d-flex align-items-center gap-2">
            <% if(roleName === 'Chef'){ %>

                <div class="dropdown">
                <a class="btn dropdown-toggle" style="color: rgb(65, 57, 173); background-color: white; font-weight: bold;" href="#"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recipe
                </a>
            
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="/api/view-recipes-34890645?email=<%=email%>&&fullName=<%=fullName%>&&userId=<%=userId%>&&role=<%=role%>">View
                            Recipe
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="/api/add-recipes-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">Add
                            recipe
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="/api/update-recipes-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>"> Update 
                            recipe
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="/api/delete-recipes-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">Delete 
                            recipe
                        </a>
                    </li>
                </ul>
            </div>
        <% }%>

            <!-- Report for Admin only -->
            <% if(roleName==='Admin' ){ %>
                <a href="/api/report-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>" class="btn" style="background-color:rgb(89, 40, 135); color:white; font-weight: bold;">Report</a>
            <% } %>
            
            <!-- Inventory every role have this -->
            <div class="dropdown">
                <a class="btn dropdown-toggle" style="color: <%= titleColor %>; background-color: white; font-weight: bold;" href="#"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Inventory
                </a>
            
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="/api/view-inventory-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">View
                            Inventory
                        </a>
                    </li>
                    <li><a class="dropdown-item"
                            href="/api/add-inventories-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">Add
                            Inventory
                        </a>
                    </li>
                </ul>
            </div>

            <!-- HD every role have it -->
            <div class="dropdown">
                <a class="btn dropdown-toggle" style="color: white; background-color: black; font-weight: bold;" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    HD Task
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="/api/recipe-integration-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">
                            Recipe integration
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="/api/filter-recipe-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">
                            Filter Recipe 
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Logout every role have this -->
            <a href="/api/login-34890645" class="btn" style="background-color:rgb(234, 40, 40); color:white;">Logout</a>
        </div>
    </div>
</nav>
