<!-- ============================================ -->
<!--               Navigation Bar                 -->
<!-- ============================================ -->

<%- include('partials/shared', { home, navigationBarColor, userId, email, fullName, role, titleColor}) %>

<!-- ============================================ -->
<!--                Hero Section                  -->
<!-- ============================================ -->

    <div class="container text-center my-5 bg-info text-white p-5 rounded">
        <h1 class="display-4">CloudKitchen Pro</h1>
        <p class="lead">🍳The stove is hot and the knives are sharp. Let get cooking!🫕</p>
        <p class="lead fw-bold">Welcome Chef <%= fullName %>!</p>
        <p class="lead fw-bold"> <%= email %>!</p>
    </div>

<!-- ============================================ -->
<!--       Display Total Chef and Recipe          -->
<!-- ============================================ -->
    
    <div class="d-flex gap-2 justify-content-center gap-4 my-4">
        <div class = "col-md-3">
            <div class = "card text-center shadow-sm">
                <div class = "card-body">
                    <h3 class = "card-title">👩‍🍳Total Chefs</h3>
                    <p class = "display-5 text-primary"> <%= countChef %></p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">📚Total Recipes</h3>
                    <p class="display-5 text-primary">
                        <%= countRecipe %>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">📦Total Inventories</h3>
                    <p class="display-5 text-primary">
                        <%= countInventory %>
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-- ============================================ -->
<!--                  My Recipe                   -->
<!-- ============================================ -->
    <h2 class="text-center" style="background-color: rgba(52, 52, 220, 0.837); color: white; padding: 10px;">📖My Recipes</h2>
    <div class="d-flex gap-2 justify-content-center gap-4 my-4">
            <% if (chefOwnRecipe.length === 0) { %>
                <p class="text-center" style="color: red; font-size: 20px; padding: 5px;">No added recipe <a href="/api/add-recipes-34890645?email=<%=email%>&&fullName=<%=fullName%>&&userId=<%=userId%>&&role=<%=role%>">Add
                    first recipe here</a></p>

            <%} else { %>
                <% chefOwnRecipe.forEach(recipe => { %>
                    <div class="card text-center shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title"><%= recipe.title%></h2>
                            <p>Chef: <%= recipe.chef%></p>
                            <p>Difficulty: <%= recipe.difficulty%></p>
                            <p>Servings: <%= recipe.servings%></p>
                        </div>
                    </div>
                <% }) %>
            <%} %>               
    </div>
    
<!-- ============================================ -->
<!--                Shared Inventory              -->
<!-- ============================================ -->
    <h2 class="text-center" style="background-color: rgba(109, 234, 115, 0.837); color: white; padding: 10px;">Current Inventory</h2>
    <div class="d-flex gap-2 justify-content-center gap-4 my-4">
                <% if (sharedInventory.length === 0){ %>
                    <p class="text-center" style="color: red; font-size: 20px; padding: 5px;">No added ingrdient <a href="/api/add-inventories-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>&&role=<%=role%>">Add the
                    first ingredient here</a></p>
                <%} else { %>
                    <% sharedInventory.forEach(inventory => { %>
                        <div class="card text-center shadow-sm">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <%= inventory.ingredientName%>
                                </h2>
                                <p>Quantity: <%= inventory.quantity %></p>
                                <p>Stock: <%= inventory.stock %></p>
                                <p>Cost: <%= inventory.cost %></p>
                            </div>
                        </div>
                    <% }) %>
                <%} %>
    </div>

    
    
    <div>
        <input type="text" name="userId" value="<%= userId %>" hidden />
    </div>
    <div>
        <input type="text" name="fullName" value="<%= fullName %>" hidden/>
    </div>
    
    <div>
        <input type="text" name="email" value="<%= email %>" hidden />
    </div>


<%- include('partials/footer') %>
