<!-- ============================================ -->
<!--               Navigation Bar                 -->
<!-- ============================================ -->

<%- include('partials/edit', { home, roleName, navBarColor}) %>
    <div class="container mt-4">

<!-- ============================================ -->
<!--                Edit Recipe                   -->
<!-- ============================================ -->

    <h2 class="text-center"> Edit CookBook </h2>
    <div class="d-flex justify-content-center align-items-center min-vh-100">

        <form method="POST" action="/<%= recipe._id %>/update" class="w-100" style="max-width: 1500px; padding-left: 70vh;">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="text" class="form-label">Title:</label>
                        <input type="text" class="form-control" name="title" required
                        value="<%= recipe.title %>">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Chef Name:</label>
                        <input type="text" class="form-control" name="chef" required
                        value="<%= recipe.chef %>">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Ingredients:</label>
                        <textarea type="text" class="form-control" name="ingredients" rows="4" required><%= recipe.ingredients.map(item => `${item.itemQuantity} ${item.itemUnit} ${item.itemName}`).join('\n') %></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Instructions:</label>
                        <textarea type="text" class="form-control" name="instructions" rows="4" required><%= recipe.instructions.join('\n') %> </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Meal Type:</label>
                        <select class="form-control" name="mealType" required>
                            <option value="">Select a role</option>
                            <option value="Breakfast" <%=recipe.mealType==='Breakfast' ?'selected' : '' %>>Breakfast</option>
                            <option value="Lunch" <%=recipe.mealType==='Lunch' ?'selected' : '' %>>Lunch</option>
                            <option value="Dinner" <%=recipe.mealType==='Dinner' ?'selected' : '' %>>Dinner</option>
                            <option value="Snack"<%=recipe.mealType==='Snack' ?'selected' : '' %>>Snack</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Cuisine Type:</label>
                        <select class="form-control" name="cuisineType" required>
                            <option value="">Select a role</option>
                            <option value="Italian" <%=recipe.cuisineType ==='Italian' ?'selected' : '' %>>Italian</option>
                            <option value="Asian" <%=recipe.cuisineType ==='Asian' ?'selected' : '' %>>Asian</option>
                            <option value="Mexican" <%=recipe.cuisineType ==='Mexican' ?'selected' : '' %>>Mexican</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Prep Time:</label>
                        <input type="number" class="form-control" name="prepTime" min="1" max="480" required
                        value="<%= recipe.prepTime %>">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Difficulty:</label>
                        <select class="form-control" name="difficulty" required>
                            <option value="">Select a role</option>
                            <option value="Easy" <%=recipe.difficulty ==='Easy' ?'selected' : '' %>>Easy</option>
                            <option value="Medium"  <%=recipe.difficulty ==='Medium' ?'selected' : '' %>>Medium</option>
                            <option value="Hard"  <%=recipe.difficulty ==='Hard' ?'selected' : '' %>>Hard</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Servings:</label>
                        <input type="number" class="form-control" name="servings" min="1" max="20" required
                        value="<%= recipe.servings %>">
                    </div>
                </div>
            </div>

            <div>
                <input type="text" name="userId" value="<%= userId %>" hidden />
            </div>
            <div>
                <input type="text" name="fullName" value="<%= fullName %>" hidden />
            </div>

            <div>
                <input type="text" name="email" value="<%= email %>" hidden />
            </div>

            <div>
                <input type="text" name="role" value="<%= role %>" hidden />
            </div>


            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Recipe</button>
                <a href="" class="btn btn-secondary">Cancel</a>
            </div>

            <% if (message) { %>
                <div style="color: green; font-size: 20px;">
                    <%= message %>
                </div>
                <% } %>
            
            <% if (error) { %>
                <div style="color: red; font-size: 20px;">
                        <%= error %>
                </div>
            <% } %>

            <div class="d-flex gap-2 margin-top: 20px">
                <a href="/api/add-recipes-34890645?email=<%=email%>&&fullName=<%=fullName%>&&userId=<%=userId%>&&role=<%=role%>"
                    class="btn btn-success">+ Add New Recipe</a>
                <a href="/api/view-recipes-34890645?email=<%=email%>&&fullName=<%=fullName%>&&userId=<%=userId%>&&role=<%=role%>"
                    class="btn" style="background-color: rgb(26, 86, 237); color: white;"> View Recipe</a>
            </div>
        </form>

    </div>



    <%- include('partials/footer') %>
</body>

</html>