<!-- ============================================ -->
<!--               Navigation Bar                 -->
<!-- ============================================ -->

<%- include('partials/shared', { home, navigationBarColor, userId, email, fullName, role, titleColor}) %>

<!-- ============================================ -->
<!--                Hero Section                  -->
<!-- ============================================ -->

    <div class="container text-center my-5 bg-success text-white p-5 rounded">
        <h1 class="display-4">🍳CloudKitchen Pro🍰</h1>
        <p class="lead">Enterprise Kitchen Management & Recipe Intelligence Platform</p>
        <p class="lead fw-bold">Welcome Manager <%= fullName %>!</p>
        <p class="lead fw-bold">
            <%= email %>!
        </p>
    </div>

<!-- ============================================ -->
<!--    Display all roles,recipe and inventory    -->
<!-- ============================================ -->

<div class="d-flex gap-2 justify-content-center gap-4 my-4">

    <div class="col-md-3">
        <div class="ard text-center shadow-sm">
            <div class="card-body">
                <h3 class="card-title">🧑‍💼Total Mangers</h3>
                <p class="display-5 text-primary">
                    <%= countManger %>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="ard text-center shadow-sm">
            <div class="card-body">
                <h3 class="card-title">📦Total Inventories</h3>
                <p class="display-5 text-primary">
                    <%= countInventory %>
                </p>
            </div>
        </div>
    </div>
</div>

    <div>
        <input type="text" name="userId" value="<%= userId %>" hidden />
    </div>
    <div>
        <input type="text" name="fullName" value="<%= fullName %>" hidden />
    </div>
    
    <div>
        <input type="text" name="email" value="<%= email %>" hidden  />
    </div>

    <div>
        <input type="text" name="role" value="<%= role %>" hidden />
    </div>
<%- include('partials/footer') %>

