<!-- ============================================ -->
<!--               Navigation Bar                 -->
<!-- ============================================ -->

<%- include('partials/shared', { home, navigationBarColor, userId, email, fullName, role, titleColor}) %>

<!-- ============================================ -->
<!--                Latest Recipe                 -->
<!-- ============================================ -->
 
    <h2 class= "text-center" style=" color: black; font-weight: bold; padding: 5px; margin-top: 10px;">Recipe Recommendation& Advanced
        MongoDB Queries</h2>

    <div class="container mt-4">
        <h2 class= "text-center" style="background-color: #28a745; color: white; font-weight: bold; padding: 5px; margin-top: 10px;">Latest Recipe</h2>
        <div class="d-flex gap-2 justify-content-center gap-4 my-4">
            <% if (recipes.length===0) { %>
                <div class="alert alert-info">
                    No Recipe available. <a
                        href="/api/add-recipes-34890645?email=<%=email%>&&fullName=<%=fullName%>&&userId=<%=userId%>">Add the first
                        recipe</a>
                </div>
                <% } else { %>
                    <% recipes.forEach(recipe=> { %>
                        
                            <div class="col-md-3">
                                <div class="card text-center shadow-sm">
                                    <div class="card-body">
                                        <h3 class="card-title"> <%= recipe.title%></h3>
                                        <p> Chef: <%= recipe.chef%></p>
                                        <p> Difficulty: <%= recipe.difficulty%></p>
                                        <p> Prep Time: <%= recipe.prepTime%></p>
                                    </div>
                                </div>
                            </div>
                    <%  }) %>
                <% } %>
        </div>
<!-- ============================================ -->
<!--     inventory optimization suggestions       -->
<!-- ============================================ -->
        <div style="margin-top: 50px;">
            <h2 class="text-center" style="background-color: #e4ce2d; color: white; font-weight: bold; padding: 5px; margin-top: 10px;"> 🚨Items Expiring in 7 days</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover text">
                    <% if (inventories.length===0) { %>
                        <div class="alert alert-info">
                            No ingredient added. <a
                                href="/api/add-inventories-34890645?userId=<%= userId %>&&email=<%=email%>&&fullName=<%=fullName%>">Add ingredient now!</a>
                        </div>
                        <% } else { %>
                        <thead>
                            <tr>
                                <th style="background-color: #e0cd38;">Ingredient</th>
                                <th style="background-color: #e0cd38;">Quantity</th>
                                <th style="background-color: #e0cd38;"> Location</th>
                                <th style="background-color: #e0cd38;">Expiration Date</th>
                                <th style="background-color: #e0cd38;">Days Left</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% for (let i=0; i < inventories.length; i++){  
                                const currentDate= new Date();
                                const expirationDate= new Date(inventories[i].expirationDate); 
                                const dayDifferent = expirationDate - currentDate; 
                                const dayLeft = Math.ceil(dayDifferent / (1000 * 60 * 60 * 24)) 
                                if(dayLeft <= 7){ %>
                                <tr class="<%= dayLeft <= 0? 'table-danger' : 'table-warning' %>">
                                    <td>
                                        <%= inventories[i].ingredientName%>
                                    </td>
                                    <td>
                                        <%= inventories[i].quantity%>
                                    </td>
                                    <td>
                                        <%= inventories[i].location%>
                                    </td>
                                    <td>
                                        <%= inventories[i].expirationDate.toISOString().split('T')[0]%>
                                    </td>
                                    <td>
                                        <% if(dayLeft==0 ){ %>
                                            <p>Expired</p>
                                        <%} else if(dayLeft <= 7){ %>
                                            <p> <%= dayLeft%></p>
                                        <% } %>
                                    </td>
                                </tr>
                                <%
                                    }   
                                }
                            %>
                        </tbody>
                    <% } %>
                </table>
            </div>
        </div>


<!-- ============================================ -->
<!--             Recipe Recommendation            -->
<!-- ============================================ -->
        <div style="margin-top: 50px;">
            <h2 class="text-center" style="background-color: #2e5687; color: white; font-weight: bold; padding: 5px; margin-top: 10px;">Recipes Recommendation </h2>
            <div class="d-flex gap-2 justify-content-center gap-4 my-4">
                <% if (recipes.length===0) { %>
                    <div class="alert alert-info">
                        No Recipe available. <a
                            href="/api/add-recipes-34890645?email=<%=email%>&&fullName=<%=fullName%>&&userId=<%=userId%>">Add the first
                            recipe</a>
                    </div>
                    <% } else { %>
                        <% recommendRecipe.forEach(recipe=> { %>
                            <div class="col-md-3">
                                <div class="card text-center shadow-sm">
                                    <div class="card-body">
                                        <h3 class="card-title"> <%= recipe.title%></h3>
                                        <ul>
                                            <% recipe.ingredients.forEach(recipeItem => { 
                                                const matchInventory = recipe.availableIngredients.find(inventory => {
                                                    let recipeQuantity = recipeItem.itemQuantity;
                                                    let recipeUnit = recipeItem.itemUnit;
                                                    let inventoryUnit = inventory.unit.toLowerCase();

                                                    if(recipeUnit === 'g' && inventoryUnit === 'kg'){
                                                        recipeQuantity = recipeQuantity / 1000;
                                                    } else if (recipeUnit === 'kg' && inventoryUnit === 'g'){
                                                        recipeQuantity = recipeQuantity * 1000;
                                                    }

                                                    if(recipeUnit === 'ml' && inventoryUnit === 'Liters'){
                                                    recipeQuantity = recipeQuantity / 1000;
                                                    } else if (recipeUnit === 'Liters' && inventoryUnit === 'ml'){
                                                    recipeQuantity = recipeQuantity * 1000;
                                                    }

                                                    if(recipeUnit === 'tbsp' && inventoryUnit === 'cup'){
                                                    recipeQuantity = recipeQuantity / 16;
                                                    } else if (recipeUnit === 'cup' && inventoryUnit === 'tbsp'){
                                                    recipeQuantity = recipeQuantity * 16;
                                                    }

                                                    return inventory.ingredientName.toLowerCase() === recipeItem.itemName.toLowerCase() && inventory.quantity >= recipeQuantity;
                                                });
                                                %>
                                                
                                        
                                                <li>
                                                <%= recipeItem.itemName %>
                                                <% if (matchInventory && matchInventory.quantity >= recipeItem.itemQuantity) { %>
                                                    <p>✅ Available</p>
                                                <% } else if(matchInventory && matchInventory.quantity < recipeItem.itemQuantity) { %>
                                                    <% let missingQuantity = recipeItem.itemQuantity - matchInventory.quantity %>
                                                    <p>⚠️ Missing <%= missingQuantity %> <%= recipeItem.itemUnit%></p>
                                                <% }else { %>
                                                    <p>❌ Not Available</p>
                                                <% } %>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer') %>
